*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #5c3600;
  
}

body{
   background-image: url(img/back.png);
  
  /* background-image: linear-gradient(to right, #ffc9b8 , #f3cdfe); */
    background-repeat: repeat;
    background-size: auto;
}


#welcome-section{
  margin: 10% 50px;
  padding: 20px;
  
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap;*/
  
  align-content: center;
  align-items: center;

  min-height:40vw;

  border-radius: 20px;
  /* box-shadow: 0.5px 8px 16px 10px rgb(149, 92, 255,0.2);  
 */
}
#about-me{
  background: rgb(165, 117, 255,.5);
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 50px;
  text-align: center;

}

#illustration{
  float: right;
  align-items: right;
  width: 30%;
}

#title{
  margin-bottom: 0;
  
  font-size: 100px;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  
  color: #96fa3c;
  text-shadow: 1px 1px 1px rgb(149, 92, 255);
  
}
#shirly{
font-family:"Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  color: #96fa3c;

  }

#subtitle{
  margin-top: -20px;
  position: relative;
  left: 5%;
  top: 5px;
  color: #5c3600;
  text-shadow: 1px 0px 0px rgb(93, 5, 255);
  font-weight: 400;
  font-family: "Josefin Sans", sans;
}

.intro span{
  color: #96fa3c;
  font-size: 30px;
   font-family: "Josefin Sans", sans;
  text-shadow: 2px 1px 5px rgb(142, 66, 255);
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 88px;
  
  padding-right: 25px;
  margin-bottom: 300px;
  /* box-shadow: 0 8px 16px 0 rgb(149, 92, 255,0.2);  
 */
  align-content: center;
}

#navbar a{
  float: right;
  color: #5c3600;
  text-align: center;
  padding: 15px;
  text-decoration: bold;
  font-size: 17px;
}
#navbar a:hover {
  color: #b87a00;
  border-radius: 2px;
}

button{
  font-size: 20px;
  align-self: center;
  background-color: #fed27c;
  color: #3d2900;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 1px 2px;
}

#welcome-section p{
  margin: 50px;
  font-size: 20px;
  text-wrap: wrap;
}
/* #welcome-section button{
 margin: 20px; 
  margin-left: 150px;
} */

button:hover{
  cursor: pointer;
  background-color: #e08e00;
  box-shadow: 0 1px 2px 0 rgb(149, 92, 255,0.5);
  color: white;
}

a{
  text-decoration: none;
}

#projects{
  display: inline-flex;
  justify-content: space-around;

  align-content: center;
}

.project-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #ffc552;

  transition: 0.3s;
  width: 40%;
  margin: 10px;

  padding: 30px 10px 10px;
  
  border-radius: 10px;
}

.container{
  padding: 20px;
  text-align: center;
}
.project-card:hover {
  box-shadow: 0 5px 10px 0 rgb(149, 92, 255,0.5);
  background-color: #e08e00;
  color: white;
}

.project-card img{
  border-radius: 10px;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #dfb8ff;
}

.contact-section{
  display: flex;
  justify-content: space-around;
}
